[submodule "themes/beautifulhugo"]
	path = hugo/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "gitlab/applied-category-theory/seven-sketches"]
	path = gitlab/applied-category-theory/seven-sketches
	url = https://gitlab.com/applied-category-theory/seven-sketches.git
[submodule "github/OpenLogicProject/OpenLogic"]
	path = github/OpenLogicProject/OpenLogic
	url = https://github.com/davidvandebunte/OpenLogic.git
[submodule "jb/jupyter_cache"]
	path = jb/jupyter_cache
	url = ../private-jupyter-cache.git
