[submodule "gitlab/applied-category-theory/seven-sketches"]
	path = gitlab/applied-category-theory/seven-sketches
	url = https://gitlab.com/applied-category-theory/seven-sketches.git
[submodule "github/OpenLogicProject/OpenLogic"]
	path = github/OpenLogicProject/OpenLogic
	url = https://github.com/davidvandebunte/OpenLogic.git
[submodule "jb/jupyter_cache"]
	path = jb/jupyter_cache
	url = ../private-jupyter-cache.git
[submodule "jb/tar/notes/ssc/raster"]
	path = jb/tar/notes/ssc/raster
	url = ../ssc-raster.git
[submodule "gitlab/inkscape/inkscape"]
	path = gitlab/inkscape/inkscape
	url = https://gitlab.com/inkscape/inkscape.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://gitlab.com/davidvandebunte/dotfiles.git
[submodule "github/jupyter/docker-stacks"]
	path = github/jupyter/docker-stacks
	url = https://github.com/jupyter/docker-stacks.git
